services:
  cloudtasks-emulator:
    image: ghcr.io/aertje/cloud-tasks-emulator:latest
    command: >-
      --host=0.0.0.0
      -queue projects/localproject/locations/us-south1/queues/gameschedule
    ports:
      - "8123:8123"
    networks:
      - net
    restart: unless-stopped

  backend:
    build:
      context: ./watchgameupdates
      dockerfile: Dockerfile
    image: watchgameupdates:latest
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
    depends_on:
      - cloudtasks-emulator
    networks:
      - net
    restart: unless-stopped

  scheduler:
    build:
      context: ./watchgameupdates
      dockerfile: Dockerfile.scheduler
    image: schedulegametrackers:latest
    depends_on:
      - cloudtasks-emulator
      - backend
    networks:
      - net
    profiles:
      - scheduler
    restart: "no"

networks:
  net:
    driver: bridge
