services:
  cloudtasks-emulator:
    image: ghcr.io/aertje/cloud-tasks-emulator:latest
    command: --host=0.0.0.0
    ports:
      - "8123:8123"
    networks:
      - net
    restart: unless-stopped

  backend:
    build:
      context: ./watchgameupdates
      dockerfile: Dockerfile
    image: watchgameupdates:latest
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
    depends_on:
      - cloudtasks-emulator
    networks:
      - net
    restart: unless-stopped

networks:
  net:
    driver: bridge
