apiVersion: batch/v1
kind: CronJob
metadata:
  name: scheduler
  namespace: firepower
spec:
  schedule: "0 5 * * *"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      backoffLimit: 3
      template:
        spec:
          restartPolicy: OnFailure
          imagePullSecrets:
            - name: ghcr-pull-secret
          containers:
            - name: scheduler
              image: ghcr.io/firepowerapp/scheduler:${IMAGE_TAG}
              imagePullPolicy: Always
              envFrom:
                - configMapRef:
                    name: app-config
                - secretRef:
                    name: app-secrets
